<!-- You have to make the UI better -->

<div class="loading-screen d-flex justify-content-center flex-column align-items-center" id="loadingScreen">

  <div class="intro d-flex justify-content-center flex-column align-items-center pb-3">
    <p>SP22-BDS-041</p>
    <p>Rubab Ahmad</p>
    <p>BDS-6A</p>
    <p>Data Visualization with D3.js</p>
  </div>

  <!-- Loader -->
  <div class="loader mt-4">
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
  </div>
</div>